.header {
    margin: 0;
    background-color: #000;
}

.header-ttl {
    padding: 10px 10px;
}

.header-content {
    display: flex;
}

.header-button {
    position: relative;
    left: 50%;
    top: 15px;
}

.header-button a {
    margin-right: 25px;
    font-size: 1.2rem;
}

.top_button {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.logout_button button {
    font-size: 1.1rem;
    color: #fff;
    border: none;
    background-color: #000;
    margin-left: 240px;
    position: relative;
    top: -30px;
} 

.work-status_text {
    display: block;
    margin: 0 auto;
}

.work-status_text {
    margin-top: 200px;
    border: 1px solid #c8c7c7;
    border-radius: 45%;
    width: fit-content;
    padding: 2px 15px;
    text-align: center;
    font-size: 13px;
    background-color: #c8c7c7;
}

.current-date_time {
    text-align: center;
}

.current-date {
    font-size: 25px;
}

.current-time {
    font-size: 45px;
    font-weight: bold;
}

.work-time_button button {
    display: block;
    margin: 0 auto;
    border-radius: 10%;
    padding: 2px 40px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
}

.work-time_middle {
    display: flex;
    justify-content: center;
}

.good-job_text {
    text-align: center;
}

.good-job {
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width:1540px) {
    .form_group-ttl {
        font-size: 1rem;
    }
}

@media screen and (max-width:850px) {
    .header-button {
        left: 15%;
    }

    h2 {
        margin-left: 150px;
    }
}

@media screen and (max-width:768px) {
    .header-button {
        left: 10%;
    }

    h2 {
        margin-left: 140px;
    }
}