.header {
    margin: 0;
    background-color: #000;
}

.header-ttl {
    padding: 10px 10px;
}

.header-content {
    display: flex;
}

.header-button {
    position: relative;
    left: 50%;
    top: 15px;
}

.header-button a {
    margin-right: 25px;
    font-size: 1.2rem;
}

.top_button {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.logout_button button {
    font-size: 1.1rem;
    color: #fff;
    border: none;
    background-color: #000;
    margin-left: 240px;
    position: relative;
    top: -30px;
}

h2 {
    border-left: 1px solid #000;
    border-width: 0.5rem;
    padding: 0 20px;
    margin-left: 250px;
    margin-top: 70px;
}

.main-content_button {
    display: flex;
    margin-left: 220px;
}

h3 {
    margin-left: 100px;
}

.main-condition {
    border-top: 1px solid #000;
    width: 65%;
    margin-left: 240px;
}

.condition-table {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 3%;
}

.top_ttl {
    font-weight: bold;
    color: #c0bebef6;
    border-bottom: 1px solid #e9e7e7f6;
}

.under_content {
    font-weight: bold;
    color: #c0bebef6;
}

.detail_button {
    color: #000;
}



