.header {
    margin: 0;
    background-color: #000;
}

.header-ttl {
    padding: 10px 10px;
}

.header-content {
    display: flex;
}

.header-button {
    position: relative;
    left: 50%;
    top: 15px;
}

.header-button a {
    margin-right: 25px;
    font-size: 1.2rem;
}

.top_button {
    color: #fff;
    text-decoration: none;
    background-color: #000;
}

.logout_button button {
    font-size: 1.1rem;
    color: #fff;
    border: none;
    background-color: #000;
    margin-left: 240px;
    position: relative;
    top: -30px;
}

main {
    background-color: #e9e7e7f6;
    height: 92vh;
}

h2 {
    border-left: 1px solid #000;
    border-width: 0.5rem;
    padding: 0 20px;
    margin-left: 250px;
    margin-top: 0;
    position: relative;
    top: 85px;
}

.mian-content_date {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 0 auto;
    margin-top: 120px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 3%;
}

.previous {
    margin-top: 18px;
    color: #c0bebef6;
    text-decoration: none;
    font-weight: bold;
}

.calender {
    font-weight: bold;
}

.next {
    margin-top: 18px;
    color: #c0bebef6;
    text-decoration: none;
    font-weight: bold;
}

.attendance-table {
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 3%;
}

.top_ttl {
    font-weight: bold;
    color: #c0bebef6;
    border-bottom: 1px solid #e9e7e7f6;
}

.under_content {
    font-weight: bold;
    color: #c0bebef6;
}

.detail_button {
    color: #000;
}

@media screen and (max-width:1540px) {
    .form_group-ttl {
        font-size: 1rem;
    }
}

@media screen and (max-width:850px) {
    .header-button {
        left: 15%;
    }

    main {
        height: 96vh;
    }

    h2 {
        margin-left: 150px;
    }
}

@media screen and (max-width:768px) {
    .header-button {
        left: 10%;
    }

    main {
        height: 95vh;
    }

    h2 {
        margin-left: 140px;
    }
}